<div class="card-favorite__container">
  <div class="card-favorite__title">
    <div class="card-favorite__watchlist" *ngIf="!addedToWatchlist">
      <h3>Add to Watchlist</h3>
      <button (click)="changeWatchList(true)">
        <fa-icon [icon]="addIcon"></fa-icon>
      </button>
    </div>
    <div class="card-favorite__watchlist" *ngIf="addedToWatchlist">
      <h3>On my Watchlist</h3>
      <button (click)="changeWatchList(false)">
        <fa-icon [icon]="removeIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
