<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <div class="menu-bar__img">
      <img
      src="assets/images/angular-logo.svg"
      alt="angular-logo"
      width="40px"
      height="40px">
    </div>
    <div class="menu-bar__title">
      FLIX
    </div>
  </div>

  <div class="menu-bar__itens">
    <ul>
      <li><a href="https://www.linkedin.com/in/weddly-rodrigues/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/Weddly" target="_blank">GITHUB</a></li>
    </ul>
  </div>
</div>
